* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
    min-height:100vh;
    color: $default-color;
    margin: 0;
    padding: 0;
    background:#fff;
}

html {
  font-family: 'Vollkorn', serif;
  font-size: 14px;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  line-height: normal;
}

a {
  text-decoration: none;
}

.cheat {
  background:rgba(0,0,0,0.62);
  width:300px;
  color: #fff;
  font-weight: bolder;
  font-family: 'Vollkorn', serif;
  font-size: 28px;
  padding: 2px 0;
  position: absolute;
  padding: 3px 10px;
  right: 50px;
  top: 25px;
}
