.catalogue {
  &-item {
    color:#697785;
    font-size:1.1rem;
    display: flex;
    padding: 1.1rem 0;
    align-items: center;
    font-family: 'IBM Plex Mono', monospace;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }


  &-title {
    color: $default-shade;
    display: block;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    font-weight: 600;
    padding-left:10px;
  }

}
